<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/assets/css/inci.css ">
    <title>Santrips | Incidentes</title>
</head>
<body>
 <div class="wrapper">
    <nav class="nav">
        <div class="nav-logo">
            <p>SanTrips</p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="/Principal.html" class="link active">Home</a></li>
                <li><a href="#" class="link">Blog</a></li>
                <li><a href="#" class="link">Services</a></li>
                <li><a href="#" class="link">About</a></li>
            </ul>
        </div>
       
        
       
    </nav>


<!----------------------------- Form box ----------------------------------->    
    <div class="page">
        <div class="container">
          <div class="left">
            <div class="login">Incidentes</div>
            <div class="eula">Nuestra sección de incidentes proporciona actualizaciones breves sobre cualquier problema técnico que pueda afectar nuestros servicios, manteniendo a nuestros usuarios informados de manera clara y concisa.</div>
          </div>
          <div class="right">
           
            <div class="form">
              <label for="text">Email</label>
              <input type="email" id="text">

              <label for="date">Fecha que sucedio</label>
              <input type="date" id="date">


              <label for="text">Descripcion</label>
              <input type="text" id="text">

           
              <div class="cntr">
                <button type="submit">SUBMIT</button>
              </div>
              

            </div>
          </div>
        </div>
      </div>
      



</body>
</html>


